* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Bahnschrift;
}

body {
  
  width: 100%;
  font-size: 16px;
}

main {
  padding-left: 160px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.layout {
  width: 97%;
  height: 87%;
  align-self: center;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.choises {
  height: 85%;
  width: 80px;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: center;
}

.choise1,
.choise2,
.choise3 {
  height: 170px;
  width: 150%;
  display: block;
  object-fit: cover;
  margin-top: 50px;
}

.button_menu {
  height: 33px;
  width: 50%;
  display: block;
  margin-top: 30px;
}

.window {
  height: 70%;
  width: 450px;
  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.frame {
  height: 100%;
  width: 400px;
}

.frame_coin{
  margin-top: 40px;
}

.icons {
  width: 25px;
  height: 15px;
  display: inline-block;
  margin-left: 20px;
  margin-right: 10px;
}

.frame div p {
  display: inline-flex;
}

.coin1 {
  margin-right: 10px;
  font-size: 19px;
  color: rgb(192, 211, 212);
}

.coin2 {
  margin-right: 35px;
  font-size: 20px;
  color: rgb(134, 175, 177);
}

.coin3 {
  font-size: 22px;
  font-weight: bold;
}

.button {
  width: 43%;
  height: 40px;
  min-width: 170px;
}

.buy{
  color: white; 
  border: 0; 
  background-color: rgb(0, 108, 228);
}

.buy:hover{
  background-color: rgb(20, 116, 224);
}

.buy:active{
  background-color: rgb(106, 129, 156);
}

a {
  color: rgb(148, 182, 239);
  text-decoration: none;
}

.frame_click{
  width: 50vw; 
  max-width: 450px;
  margin-top: 10px;
}

.frame_text{
  font-size: 14px; 
  width: 43vw; 
  max-width: 500px; 
  margin-top: 20px;
}

.messengers {
  width: 100%;
  height: 25px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 100px;
}
.choise1_after,
.choise2_after,
.choise3_after {
  display: none;
}

.choise1:hover ~ .choise1_after {
  display: block;
  position: absolute;
  transform: translate(300px);
}

.number {
  user-select: none;
  position: relative;
  text-align: left;
  padding: 0;
  width: 140px;
  height: 34px;
  border: 1px solid #ddd;
  display: inline-block;
}
.number-minus,
.number-plus {
  position: absolute;
  top: 0;
  width: 40px;
  height: 32px;
  line-height: 32px;
  display: block;
  background: #faf4f2;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  font-family: arial;
  color: #3e1e02;
  text-decoration: none;
}
.number-minus {
  left: 0;
  border-right: 1px solid #ddd;
}
.number-plus {
  right: 0;
  border-left: 1px solid #ddd;
}
.number-minus:hover,
.number-plus:hover {
  background: #fffcfb;
}
.number-minus:active,
.number-plus:active {
  background: #e8e4e2;
}
.number_text {
  display: inline-block;
  font-size: 18px;
  color: #000;
  line-height: 32px;
  height: 32px;
  padding: 0px 3px 0px 0px;
  margin: 0 0 0 42px;
  background: #fff;
  outline: none;
  border: none;
  width: 57px;
  text-align: center;
}

.number_mes{
   margin-left: 5px; 
   display: inline-block; 
   vertical-align: middle; 
   background-color: rgb(255, 238, 0);  
   padding: 5px 0px; 
   border: 2px solid rgb(10, 6, 6); 
   width: 100%; max-width: 256px;  
   transition: opacity 1s; 
}

.frame_zaglav{
  margin-top: 70px;
}



.frame_inf{
  background-color: rgb(233, 242, 243); 
  width: 100%;
  margin-top: 20px;
}

.messengers_triangle{
  margin-left: 10px; 
  background-color: rgb(255, 255, 255); 
  width: 0; 
  height: 0; 
  border-top: 6px solid transparent; 
  border-right: 7px solid rgb(233, 242, 243); 
  border-bottom: 6px solid transparent;
}

.messengers_rectangle{
  width: 40px; 
  height: 30px; 
  background-color:rgb(233, 242, 243); 
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.dn{
  opacity: 0;
  transition: opacity 0.5s;
  
}

.header{
  background-color: brown;
  height: 200px;
  width: 100%;
  padding: 60px;
  display:flex; 
  justify-content: center; 
  color: white; 
  font-size: 60px;
}

.footer{
  background-color: red;
  opacity: 0.7;
  height: 100px;
  width: 100%;
  padding: 45px;
}

.menu{
  position: absolute; 
  margin-left: 1500px;
  font-size: 30px;
  margin-top: 20px;
  color: #fff;
  text-underline-offset: 5px;
  color: #ffffff;
  text-decoration: underline;
  text-decoration-color: #ffffff;
}

.back{
  position: absolute; 
  margin-left: -1500px;
  font-size: 30px;
  margin-top: 20px;
  color: #fff;
  text-underline-offset: 5px;
  color: #ffffff;
  text-decoration: underline;
  text-decoration-color: #ffffff;
}